<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <header>
        <p>
            <a src="#"></a>
        </p>
        <div>
            <p>
                koko
            </p>
            <p>
                kiki
            </p>
            <p>
                hyhy
            </p>
        </div>
        
    </header>
    <main>
        <h1>Sign in</h1>
        <form method="POST" action="">
            <input type="text" name="prenom" placeholder="First name"/>
            <br>
            <input type="text"  name = "nom" placeholder="Name"/>
            <br />
            <input type="email" name="email" placeholder="Email"/>
            <br>
            <input type="text" name="sexe" placeholder="gender"/>
            <br>
            <input type="text" name="adresse" placeholder="adress"/>
            <br />
            <input type="tel" name="telephone" placeholder="phone number"/>
            <br />
            <input type="text" name="statut" placeholder="statut"/>
            <br />
            <input type="password" name="password" placeholder="password"/>
            <br />
            <input type="submit"/>
        </form>
    </main>
</body>
</html>