body {
    margin: 0;
    padding: 0;
    background: url("bg4.jpg");
    background-size: cover;
    font-family: Poppins;
    width: 1500px;
    height: 780px;
}

.wrapper {
    width: 480px;
    height: 550px;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    padding: 60px 30px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 9px 9px 60px white;
}


.soratra input {
    width: 100%;
    margin-bottom: 25px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    height: 30px;
    font-size: 18px;
    opacity: 1;
    color: white;
    border-radius: 15px;
    padding : 10px;
    box-shadow : 0 0 4px white;
    transition : box-shadow 1s ease;
}

.soratra input[placeholder]:focus{
    color : white;
}

.soratra input:focus{
    box-shadow : 0 0 10px white;
}


h1 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 6%;
    font-family: Georgia;
    color: ivory;
}

.button input {
    height : 30px;
    width: 30%;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 0 4px white;
    background: transparent;
    color : white;
    font-size : 13px;
}

    .button input:hover {
        cursor: pointer;
        box-shadow: 0 0 10px white;

    }

p{
    color : white;
}